management:
  endpoint.prometheus.enabled: true
  endpoints.web.exposure.include: prometheus, health

#spring.datasource.hikari.maximum-pool-size: ${MAX_POOL_SIZE}


DESIRED_YTELSESTYPER: ALDER,AFP,OMS,AAP,UFORE_SAERALDERP
spring:
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    listener:
      ack-mode: manual
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      bootstrap-servers: ${KAFKA_BROKERS}
      group-id: hendelse-api
      enable-auto-commit: false
    properties:
      security.protocol: SSL
      ssl:
        truststore:
          type: JKS
          location: ${KAFKA_TRUSTSTORE_PATH}
          password: ${KAFKA_CREDSTORE_PASSWORD}
        keystore:
          type: PKCS12
          location: ${KAFKA_KEYSTORE_PATH}
          password: ${KAFKA_CREDSTORE_PASSWORD}
        key.password: ${KAFKA_CREDSTORE_PASSWORD}
