<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="dev">
        <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
                <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                    <valueMask>
                        <value>\b(\d{6})\d{5}\b</value>
                        <mask>$1*****</mask>
                    </valueMask>
                </jsonGeneratorDecorator>
            </encoder>
        </appender>

        <logger name="no.nav.samordning" level="DEBUG" />
        <logger name="org.springframework.security" level="INFO" />
        <logger name="kafka" level="ERROR"/>


        <root level="INFO">
            <appender-ref ref="STDOUT_JSON" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                    <includeCallerData>true</includeCallerData>
                    <valueMask>
                        <value>\b(\d{6})\d{5}\b</value>
                        <mask>$1*****</mask>
                    </valueMask>
                </jsonGeneratorDecorator>
            </encoder>
        </appender>

        <logger name="no.nav.samordning" level="INFO" />
        <logger name="org.springframework.security" level="WARN" />
        <logger name="kafka" level="ERROR"/>

        <root level="INFO">
            <appender-ref ref="STDOUT_JSON" />
        </root>
    </springProfile>

</configuration>
