openapi: 3.0.1
info:
  title: Samordningspliktige Hendelser
  description: "### API for oversendelse av samordningsdata for eksterne samhandlere.\nTilkobling:\nFor å kunne benytte tjenesten må konsumenten være autentisert via ID-Porten til Difi etter avtale med NAV. I autentiseringen mot ID-porten må _scope<_ spesifiseres til å være `nav:pensjon/v1/samordning/hendelser`."
  version: "1.0"
servers:
  - url: https://api-preprod.nav.no/pensjon/v1/samordning/hendelser
paths:
  /hendelser:
    get:
      tags:
        - Hendelser
      summary: Hent hendelser.
      description: "Endepunktet returnerer en feed som inneholder hendelser tilhørende det angitte tjenestepensjonsnummeret.\n\n
        Feeden benytter paginering, som deler opp feeden i sider basert på angitt antall hendelser per side.
        Hver side inneholder en liste med __hendelser__, samt en __nextUrl__ som peker til neste side av feeden.\n\n
        Siste side er nådd når __nextUrl__ er _null_.\n\n
        Hver hendelse har et sekvensnummer som inkrementeres for hver ny hendelse.
        Sekvensnummer kan angis for å kun hente nye hendelser fra og med dette sekvensnummeret."
      operationId: hendelserUsingGET
      parameters:
        - name: tpnr
          in: query
          description: Tjenestepensjonsnummer som vedtaket tilhører.
          required: true
          schema:
            type: string
        - name: sekvensnummer
          in: query
          description: Start innlesningen fra dette sekvensnummeret.
          schema:
            type: integer
            format: int32
            default: 1
        - name: antall
          in: query
          description: Antall hendelser per side (maksimalt 10000).
          schema:
            type: integer
            format: int32
            default: 10000
        - name: side
          in: query
          description: Sidenummer.
          schema:
            type: integer
            format: int32
            default: 0
        - name: Authorization
          in: header
          description: 'Standard Authorization-header som inneholder et Base64-kodet Bearer-token (JWT-aksesstoken) utstedt av ID-Porten (Difi). Verdien må starte med "Bearer ", deretter følger tokenstrengen.'
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Feed'
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
        500:
          description: Internal Server Error
      deprecated: false
components:
  schemas:
    Feed:
      title: Feed
      type: object
      properties:
        hendelser:
          type: array
          items:
            $ref: '#/components/schemas/Hendelse'
          description: Liste av hendelser.
        nextUrl:
          type: string
          description: URL for å hente neste pagineringsside.
    Hendelse:
      title: Hendelse
      type: object
      properties:
        identifikator:
          type: string
          description: Identifiserer hvilken hendelse.
        fom:
          type: string
          format: date
          description: Dato fra og med.
        tom:
          type: string
          format: date
          description: Dato til og med.
        vedtakId:
          type: string
          description: Identifiserer hvilket vedtak.
        ytelsesType:
          type: string
          description: Type ytelse.
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
security:
  - apiKeyHeader: [ ]
  - apiKeyQuery: [ ]
