name: Build and Deploy Main

on:
  push:
    branches:
      - main
      - master

jobs:
  build-and-deploy-main:
    name: Build and Deploy Main
    permissions:
      contents: read
      id-token: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      # Checkout
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: gradle

      # Build
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: current
      - name: Build with Gradle
        run: gradle build

      # Build image
      - name: Nais docker-build
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: pensjonsamhandling
          tag: ${{ github.event.repository.name }}-main

      - name: Deploy to prod-fss
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-fss
          RESOURCE: nais/prod.yaml
          IMAGE: ${{ steps.docker-build-push.outputs.image }}
          TELEMETRY: ${{ steps.docker-build-push.outputs.telemetry }}
