name: Build and Deploy Sandbox

on:
  push:
    branches:
      - sandbox
  workflow_dispatch:

jobs:
  build-and-deploy-sandbox:
    name: Build and Deploy Sandbox
    permissions:
      contents: read
      id-token: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      # Checkout
      - uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: gradle

      # Build
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: current
      - name: Build with Gradle
        run: gradle build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Build image
      - name: Nais docker-build
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: pensjonsamhandling
          tag: ${{ github.event.repository.name }}-sandbox

      # Deploy
      - name: Deploy to dev-fss Q2
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-fss
          RESOURCE: nais/dev.yml
          IMAGE: ${{ steps.docker-build-push.outputs.image }}
          TELEMETRY: ${{ steps.docker-build-push.outputs.telemetry }}
      - name: Deploy KrakenD config
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/apiendpoints/krakend-q2.yaml
      - name: Deploy apiEndpoints config
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/apiendpoints/apiendpoints-q2.yaml


      - name: Deploy person-endring Topic Q2
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/topic/person-endring-dev.yml
          TEAM: pensjonsamhandling

      - name: Deploy manglende-refusjonskrav Topic Q2
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/topic/manglende-refusjonskrav-dev.yml
          TEAM: pensjonsamhandling
