name: Build and Deploy Main

on:
  workflow_run:
    workflows: [ "Auto-merge Dependabot Patch Updates" ]
    types:
      - completed
  push:
    branches:
      - main
      - master

jobs:
  build-and-deploy-main:
    if: >
      (github.event_name == 'workflow_run' &&
       github.event.workflow_run.conclusion == 'success' &&
       github.event.workflow_run.actor.login == 'dependabot[bot]') ||
      (github.event_name == 'push')
    name: Build and Deploy Main
    permissions:
      contents: read
      id-token: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      # Checkout
      - uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: gradle

      # Build
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: current
      - name: Build with Gradle
        run: gradle build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Build image
      - name: Nais docker-build
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: pensjonsamhandling
          tag: ${{ github.event.repository.name }}-main

      - name: Deploy to prod-fss
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-fss
          RESOURCE: nais/prod.yml
          IMAGE: ${{ steps.docker-build-push.outputs.image }}
          TELEMETRY: ${{ steps.docker-build-push.outputs.telemetry }}
      - name: Deploy KrakenD config
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: nais/apiendpoints/krakend-prod.yaml
      - name: Deploy apiEndpoints config
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: nais/apiendpoints/apiendpoints-prod.yaml

      - name: Deploy Topic
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: nais/topic/person-endring-prod.yml
          TEAM: pensjonsamhandling
